$grid-breakpoints: (
    xs: 0,
    sm: 400px,
    md: 600px,
    lg: 750px,
    xl: 1080px,
    xxl: 1440px
);

$theme-colors: (
    primary: #81865D,
    success: #5E8763,
    info: #065fd4,
    warning: #9f9152,
    danger: #884b5a,
    light: #f8fafc,
    dark: #343a40

);
