$grid-breakpoints: (
    xs: 0,
    sm: 400px,
    md: 800px,
    lg: 1300px,
    xl: 1921px,
    xxl: 2561px
);

$theme-colors: (
    primary: #3b6532,
    success: #5E8763,
    info: #065fd4,
    warning: #9f9152,
    danger: #884b5a,
    light: #f8fafc,
    dark: #343a40

);


